$color-grey-light-1: #eee;
$color-grey-light-2: #ccc;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;
$color-grey-dark-4: #333;
$color-grey-dark-5: #111;

$color-blue: #551a8b;

$color-white: #fff;
$color-black: #000;

$shadow-box: 0 2rem 4rem rgba($color-black, 0.4);
$shadow-box-light: 0 1rem 2rem rgba($color-black, 0.4);
