.footer {
    padding: 3rem;
    background-color: $color-grey-dark-4;

    &__title {
        font-size: 3.5rem;
        color: $color-grey-light-2;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.2rem solid $color-grey-light-2;
        cursor: default;
    }

    &__title-hidden {
        max-width: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    &__title:hover &__title-hidden {
        opacity: 1;
        max-width: 6rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
        color: $color-grey-dark-2;
        font-weight: 800;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-white;
        }
    }
}
