.section-methods {
    background-color: $color-grey-light-1;
    padding: 0 3rem 0rem 3rem;
}

.method {
    display: none;
    max-width: 130rem;
    margin: 0 auto;

    &--active {
        display: block;
    }
}
