.btn-primary {
    margin: 2rem;
    padding: 1.5rem 3rem;
    text-transform: capitalize;
    border: 0.4rem solid $color-blue;
    border-radius: 0.6rem;
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-blue;
    position: relative;
    bottom: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    &:hover {
        background-color: $color-blue;
        color: $color-white !important;
        box-shadow: $shadow-box;
        bottom: 0.5rem;
    }

    &:active {
        box-shadow: $shadow-box-light;
        bottom: 0;
    }

    &--method {
        @include responsive(mob) {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

.btn {
    font-size: 4rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.6rem;
    transition: all 0.4s;

    &:hover,
    &:focus {
        box-shadow: $shadow-box;
        transform: translateY(-0.5rem);
    }

    &:active {
        box-shadow: $shadow-box-light;
        transform: translateY(0);
    }

    &--delete {
        color: $color-red;
        height: 5rem;
        width: 5rem;
        position: absolute;
        opacity: 0.4;
        top: 0;
        left: 102%;
        transform: translate(50%, 30%);

        &:hover,
        &:focus {
            opacity: 1;
            box-shadow: none !important;
            text-shadow: $shadow-box;
            transform: translate(50%, 20%) !important;
        }

        @include responsive(tab-l) {
            left: 50%;
            transform: translate(-50%, 30%);
        }
    }

    &--add {
        width: 30rem;
        color: $color-green;
        padding: 1rem 2.5rem;
        border: 0.4rem solid $color-green;

        &:hover,
        &:focus {
            background-color: $color-green;
            color: $color-white;
        }
    }
}
