.form {
    text-align: center;
    margin-bottom: 10rem;

    &__question {
        width: 100% !important;
        height: 8rem;
        margin-bottom: 5rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Source Code Pro', monospace;
        padding: 3rem;
        border: none;
        border-bottom: 0.5rem solid transparent;
        border-radius: 0.6rem;
        transition: all 0.3s;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 0.5rem solid $color-blue;
            box-shadow: $shadow-box-light;
            transform: translateY(-0.3rem);
        }
    }

    &__required {
        display: none;
        text-align: left;
        color: red;
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: -3.5rem;
        margin-bottom: 5rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &__initial-guess,
    &__precision,
    &__variable {
        width: 46%;
        height: 8rem;
        margin-bottom: 5rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Source Code Pro', monospace;
        padding: 3rem;
        border: none;
        border-bottom: 0.5rem solid transparent;
        border-radius: 0.6rem;
        position: relative;
        z-index: 1;
        transition: all 0.3s;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 0.5rem solid $color-blue;
            box-shadow: $shadow-box-light;
            transform: translateY(-0.3rem);
        }
    }

    &__btn {
        width: 100%;
        height: 8rem;
        margin: 0 auto;
        color: $color-grey-light-1;
        background-color: $color-blue;
        font-size: 3rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        border-radius: 0.6rem;
        border: 0.2rem solid $color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            border: none;
            outline: none;
            box-shadow: $shadow-box;
            transform: translateY(-0.3rem);
        }

        &:focus {
            border: none;
            outline: none;
            box-shadow: $shadow-box-light;
            transform: translateY(0);
        }
    }
}
