.information {
    &__list {
        list-style-type: decimal;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsive(mob) {
            display: block;
        }
    }

    &__item {
        margin-bottom: 2rem;
    }

    &--intro {
        padding: 5rem 20rem;
        background-color: rgba($color-grey-light-1, 1);

        @include responsive(tab-l) {
            padding: 5rem 10rem;
        }
    }
}
