body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    width: 100%;
    color: $color-grey-light-2;
    text-align: center;
    text-transform: uppercase;
    @include absoluteCenter;
    cursor: pointer;

    &--main {
        display: block;
        font-size: 8rem;
        letter-spacing: 1rem;
        text-shadow: $shadow-box;

        @include responsive(tab-l) {
            line-height: 1.2;
        }
    }

    &--sub {
        display: block;
        font-size: 1.6rem;
        letter-spacing: 3rem;
        text-shadow: $shadow-box;

        @include responsive(tab-l) {
            margin-top: 10rem;
        }
    }

    @include responsive(tab-l) {
        padding: 0 5rem;
    }
}

.heading-method {
    color: $color-blue;
    font-size: 4.5rem;
    text-transform: uppercase;
    padding-top: 8rem;
    text-shadow: $shadow-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.result-text {
    font-size: 2.5rem;
    padding: 3rem 5rem;
    min-height: 10rem;
    width: 100%;
    margin: 10rem 0;
    box-shadow: $shadow-box;
    text-align: center;
    text-transform: uppercase;
    display: none;
    justify-content: center;
    align-items: center;
    color: $color-grey-light-1;
    background-color: $color-blue;
    border-radius: 0.5rem;
}

.paragraph {
    font-size: 2rem;
    font-weight: 600;
    color: $color-grey-light-2;
    display: inline-block;
    width: 60%;
    text-align: left;

    &--information {
        font-size: 2.3rem;
        color: $color-grey-dark-4;
        width: 100%;
    }

    &--footer {
        @include responsive(tab-l) {
            width: 95%;
        }
    }
}
