.heading-method--dark {
    color: $color-red;
}

.result-text--dark {
    color: $color-grey-light-1;
    background-color: $color-red;
}

.paragraph--dark {
    color: $color-grey-light-2;
}

.paragraph--information-dark {
    color: $color-grey-light-2;
}

.paragraph--footer-dark {
    color: $color-grey-dark-3;
}
